$positive: #354359;
$beige: #F2EAD9;
$grey: #8491A6;
$dark-beige: rgb(110, 102, 83);
$orange: #B34834;
$border-radius: 10px;
$mobile-breakpoint: 600px;

body {
    font-family: 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif';
    color: $dark-beige;
    margin: 0;
}

#app {
    padding: 2%;
    width: 100vw;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr minmax(min-content, 50em) 1fr;
    grid-template-rows: 100%;
}

* {
    margin: 0;
}

.event {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    grid-column: 2;
    grid-row: 1;


    h1 {
        text-align: center;
    }

    h1, h3, h4 {
        margin-top: 1em;
        margin-bottom: 1.6em;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        margin: 1em 0;

        label {
            width: 100%;
            text-align: left;
            margin-bottom: 7px;

            @media (min-width: $mobile-breakpoint) {
                width: 4em;
                padding-right: 2em;
                padding-top: 0.3em;
            }
        }

        span {
            flex: 1 1 auto;
            white-space: pre-line;
            
            @media (min-width: $mobile-breakpoint) {
                width: 4em;
                padding-top: 0.3em;
            }
        }
    
        input, textarea {
            flex: 1 1 auto;
            border: 1px solid $beige;
            padding: 0.3em;
            font-size: 1em;
            color: $dark-beige;
            font-family: 'Segoe UI', 'Lucida Grande','Ubuntu','sans-serif';
        }

        input[type="date"] {
            border-right: none;
        }

        input[type="time"] {
            border-left: none;
        }

        textarea {
            height: 10em;
            resize: none;
        }
    }

    div.error {
        color: $orange;
        width: 100%;
        margin-top: 0.5em;

        @media (min-width: $mobile-breakpoint) {
            margin-left: 6em;
        }
        
        &::first-letter {
            text-transform: capitalize;
        }
    }

    div.buttons {
        margin: 1em auto;
        width: 80%;
        max-width: 37em;
        display: flex;
        justify-content: center;

        button {
            flex: 1 1 auto;
            display: block;
            margin: 0 1em;
            padding: 1em;
            border-radius: $border-radius;
            border: none;
            font-size: 1em;
            text-transform: capitalize;
            letter-spacing: 0.5px;
    
            &.primary {
                color: $beige;
                background: $positive;
            }

            &.negative {
                background: $beige;
                color: $positive;
            }
        }
    }

    div.space {
        display: flex;
        justify-content: space-around;
    }

    table {
        text-align: left;
        border-collapse: collapse;

        tr {
            height: 3em;
            vertical-align: middle;
        }

        td {
            padding-right: 5em;
        }
    }
}