<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Evently</title>
  </head>
  <body>
    <input id="token" type="hidden" value="{{csrf-token}}">
    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <noscript>
            <div class="card-block">
              <h4>Welcome to evently</h4>
              <p>If you're seeing this message, that means you haven't enabled Javascript!</p>
              <p>"Why is javascript needed?" you're probably asking. Well, Evently uses encrypts all your data in the browser so that I who run this server can never access your data. For that encryption to be possible Javascript is needed.</p>
            </div>
          </noscript>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/css/screen.css" %}

    {% script "/js/sodium.js" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
